{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/physique2.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading"><br><br>
                    <h1>About Me</h1><br>
                    <span class="subheading">Intro about me.</span><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    I’m Devnith Tissera, a dedicated strength trainer with a passion for transforming both body and
                    mind. My fitness journey began at 50 kg, and through unwavering commitment and focused training,
                    I’ve proudly achieved a lean, powerful physique at 62 kg. <b>My goal?</b> To inspire and guide
                    others on
                    their path to muscle toning through strategic lean bulking and effective strength training.

                </p>
                <p>
                    At DevZ Fitness, I believe that true strength is not just about lifting heavier weights but about
                    pushing through mental barriers and surpassing your own limits. My approach is rooted in the
                    principles of perseverance, discipline, and balanced nutrition. I’ve seen firsthand how consistent
                    effort can lead to remarkable transformations, and I’m here to share that knowledge with you.
                </p>
                <p>
                    Every day, I strive to lift more than just weights; I aim to uplift others with encouragement and
                    practical advice. Whether you’re starting your fitness journey or looking to elevate your training
                    regimen, my mission is to provide you with the tools and motivation you need to achieve your goals.
                </p>
                <p>
                    Join me in this journey of strength, resilience, and growth. Let’s push boundaries, redefine limits,
                    and celebrate every achievement, no matter how small. Together, we can reach new heights and turn
                    our fitness aspirations into reality.<br><br>

                    Stay strong, stay focused, and keep pushing forward!<br><br>

                    With strength and determination,<br><br>

                    Devnith Tissera
                </p>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
